@import './block/aside';
@import './block/main';

*, body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container{
    display: block;
    margin: 0 auto;
    width: 75%;
}
