.registration {
    padding: 51px 0 0 0;
    height: auto;
    &__block {
        &_divider {
            width: 80%;
            height: 1.5px;
            background: #4B4B4B;
            margin-top: 27px;
        }
        &_title {
            color: #4B4B4B;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 2.32px;
        }
        &_dey {
            display: flex;
            justify-content: space-between;
            width: 19%;
            color: #4B4B4B;
            font-size: 15px;
            font-weight: 400;
            margin-top: 6px;
            &span {
                font-size: 15px;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        width: 70%;
        &_wrapper {
            &_image {
                margin-top: 18px;
                &-block {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    cursor: pointer;
                    // fill: rgba(217, 217, 217, 0.60);
                    // mix-blend-mode: hard-light;
                    background-color: rgba(217, 217, 217, 0.6)
                }
            }
        }
        &_img_svg {
            display: block;
            margin: 0 auto; 
            padding-top: 77px;
        }
        &_text {
            font-size: 12px;
            font-style: normal;
            font-weight: bold;
            color: #000;
            margin-top: 15px;
            text-align: center;
        }
        &_form {
            display: flex;
            flex-direction: column;
            margin-top: 34px;
            &-int {
                width: 273px;
                height: 35px;
                border-radius: 3px;
                border: 1px solid #CCC;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                outline: none;
                margin-bottom: 8px;
                // text-overflow: clip;
                padding-left: 30px;
                &::placeholder {
                    position: relative;
                    right: -1px;
                }
            }
            &-submit {
                width: 273px;
                height: 35px;
                background: #FFA4A4;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                color: #FFF;
                text-align: center;
                font-size:  15px;
                font-weight: 500;
                cursor: pointer;
                border: none;
                outline: none;
            }
            &-image {
                position: relative;
                top: -33px;
                left: 6px;
                width: 12px;
                height: 12px;
                object-fit: cover;
            }
        }
    }
}
